:root {
    --primary-color: #008F11;
    --secondary-color: #0D0208;
    --primary-hover-color: #00FF41;
    --secondary-hover-color: #feff01;
    --dark: #0F0F0F;
}

body {
    padding-top: 56px;
    background-color: var(--dark);
    color: var(--primary-color);
}

.projects {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* NavBar */
.custom-navbar,
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    background-color: var(--dark);
    color: var(--primary-color);
}

.custom-navbar .nav-link:hover {
    color: var(--primary-hover-color);
}

.custom-navbar .navbar-toggler {
    border-color: var(--primary-color);
}

.custom-navbar .navbar-toggler-icon {
    background-image: url("res/burger.png");
}

/* Code */
.typing-container {
    border-right: 3px solid var(--primary-color);
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    animation: blink 0.8s infinite;
    width: auto;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* banner */
.hero {
    height: 94vh;
    width: 100vw;
    background: var(--secondary-color);
    align-content: end;
    display: flex;
}

.profile {
    flex: 1;
    height: auto;
    overflow: hidden;
}

.profile img {
    width: 100%;
    height: auto;
    display: block;
}

.intro {
    flex: 1;
    height: auto;
    overflow: hidden;
    align-items: center;
    align-content: center;
    text-align: start;
}

.name {
    color: var(--secondary-hover-color);
    font-family: Consolas, "Courier New", monospace;
    font-size: clamp(20px, 2vw, 40px);
    padding: 0vw;
    margin: 0vw;
    font-weight: bold;
}

.vscode {
    color: var(--primary-color);
    font-family: Consolas, "Courier New", monospace;
    font-size: clamp(20px, 2vw, 40px);
    padding: 0vw;
    margin: 0vw;
}

/* badges */
.square-img {
    position: relative;
    width: 40px;
    padding-top: 100%;
    overflow: hidden;
    padding: 40px;
}

.square-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* cards */
.card {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    width: 300px;
    height: 450px;
    background: var(--secondary-color);
    color: var(--primary-color);
}

.card-img {
    height: 150px;
    width: auto;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-container {
    width: 80%;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.nav {
    position: absolute;
    top: 59%;
    transform: translateY(-50%);
    background: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    height: 81%;
    width: 7vw;
    z-index: 98;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: bold;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* footer */
.footer {
    color: var(--secondary-color);
    font-family: Consolas, "Courier New", monospace;
    font-size: clamp(20px, 2vw, 40px);
    padding: 0vw;
    margin: 0vw;
    font-weight: bold;
    position: sticky;
    bottom: 0px;
    right: 0px;
    width: 100vw;
    z-index: 98;
}

.bump-row {
    display: flex;
    align-items: flex-end;
}

.side {
    width: 40vw;
    height: 1px;
    background: var(--dark);
    margin: 0vw;
    padding: 0vw;
    border-top: 3px solid var(--primary-color);
}

.center {
    width: 400px;
    height: 70px;
    background: var(--dark);
    margin: 0vw;
    padding: 0vw;
    border-radius: 32px 32px 0 0;
    border-top: 3px solid var(--primary-color);
    border-left: 3px solid var(--primary-color);
    border-right: 3px solid var(--primary-color);
    display: flex;
    align-items: end;
    justify-content: space-around;
    color: var(--secondary-hover-color);
}

/* modal */
.dark-modal .modal-content {
    background-color: var(--dark);
    color: var(--primary-color);
    border-radius: 12px;
    position: fixed;
    z-index: 999;
    width: 500px;
}

.dark-modal .modal-header,
.dark-modal .modal-footer {
    border-color: var(--dark);
}

.dark-modal .btn-close {
    filter: invert(1);
}

.dark-modal .btn {
    width: 200px;
}

.dark-modal .btn:hover {
    background-color: var(--secondary-hover-color);
    color: var(--dark);
    border: none;
}

.btn-green {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.btn-gold {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.dark-modal img {
    width: 300px;
    padding-bottom: 20px;
}

/* general */
.container {
    position: relative;
}

.row {
    padding: 0vw;
    margin: 0vw;
}

[class^="col-"],
[class*=" col-"] {
    padding: 0vw;
    margin: 0vw;
}

a {
    text-decoration: none;
    color: inherit;
}

/* tab */
@media (max-width: 1500px) {

    .hero {
        height: 50vh;
    }

    .profile img {
        width: 380px;
    }

}

/* mobile */
@media (max-width: 750px) {

    .profile img {
        display: none;
    }

    .intro {
        flex: 8;
    }

    .dark-modal .modal-content {
        width: 100%;
        margin: 0px;
    }

    .dark-modal .btn {
        width: 180px;
    }

    .dark-modal img {
        width: 250px;
        padding-bottom: 20px;
    }

    .dark-modal .modal-dialog {
        margin: 0px;
    }

}