:root {
    --primary-color: #008F11;
    --secondary-color: #0D0208;
    --primary-hover-color: #00FF41;
    --secondary-hover-color: #feff01;
    --dark: #000000;
}

body {
    padding-top: 56px;
    background-color: var(--dark);
    color: var(--primary-color);
}

/* NavBar */
.custom-navbar,
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    background-color: var(--dark);
    color: var(--primary-color);
}

.custom-navbar .nav-link:hover {
    color: var(--primary-hover-color);
}

.custom-navbar .navbar-toggler {
    border-color: var(--primary-color);
}

.custom-navbar .navbar-toggler-icon {
    background-image: url("res/burger.png");
}

/* Code */
.typing-container {
    border-right: 3px solid var(--primary-color);
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    animation: blink 0.8s infinite;
    width: auto;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* banner */
.hero {
    height: 94vh;
    width: 100vw;
    background: var(--secondary-color);
    align-content: end;
    display: flex;
}

.profile {
    flex: 1;
    height: auto;
    overflow: hidden;
}

.profile img {
    width: 100%;
    height: auto;
    display: block;
}

.intro {
    flex: 1;
    height: auto;
    overflow: hidden;
    align-items: center;
    align-content: center;
    text-align: start;
}

.name {
    color: var(--secondary-hover-color);
    font-family: Consolas, "Courier New", monospace;
    font-size: clamp(20px, 2vw, 40px);
    padding: 0vw;
    margin: 0vw;
    font-weight: bold;
}

.vscode {
    color: var(--primary-color);
    font-family: Consolas, "Courier New", monospace;
    font-size: clamp(20px, 2vw, 40px);
    padding: 0vw;
    margin: 0vw;
}

/* cards */
.card {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    width: 300px;
    height: 450px;
}

.card-img {
    height: 150px;
    width: auto;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-container {
    width: 80%;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.nav {
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    opacity: 0.9;
    height: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: bold;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* general */
.container {
    position: relative;
}

.row {
    padding: 0vw;
    margin: 0vw;
}

[class^="col-"],
[class*=" col-"] {
    padding: 0vw;
    margin: 0vw;
}

/* tab */
@media (max-width: 1500px) {

    .hero {
        height: 50vh;
    }

    .profile img {
        width: 380px;
    }

}

/* mobile */
@media (max-width: 750px) {

    .profile img {
        display: none;
    }

    .intro {
        flex: 8;
    }

}